In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

print(tf.__version__)

2.4.0

In [3]:
# downloading our data
"""url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
column_names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
                'Acceleration', 'Model Year', 'Origin']

raw_dataset = pd.read_csv(url, names=column_names,
                          na_values='?', comment='\t',
                          sep=' ', skipinitialspace=True)
raw_dataset.to_csv('auto_mpg.csv')"""

In [4]:
data_df = pd.read_csv("auto_mpg.csv")
data_df.head()

,Unnamed: 0,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [6]:
data_df.info()
# horse power has some missing values
# we need to drop the unamed column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    398 non-null    int64
 1   MPG           398 non-null    float64
 2   Cylinders     398 non-null    int64
 3   Displacement  398 non-null    float64
 4   Horsepower    392 non-null    float64
 5   Weight        398 non-null    float64
 6   Acceleration  398 non-null    float64
 7   Model Year    398 non-null    int64
 8   Origin        398 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 28.1 KB

In [7]:
data_df.isna().sum()

Unnamed: 0      0
MPG             0
Cylinders       0
Displacement    0
Horsepower      6
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

In [11]:
#dropping the missing values
data_df.dropna(inplace=True)

#remove unnamed column
data_df = data_df.loc[:,~data_df.columns.str.contains('^Unnamed')]
data_df.isna().sum()

MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64